<!--decorated page-->
<html lang="en" dir="ltr" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/basic-layout}">

<head>
    <title>Privilegios del Rol: [[${role.stDescripcion}]]</title>
    
</head>

<body>
<section layout:fragment="breadcrumb" th:remove="tag">

    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-12 align-self-center">
                <h4 class="page-title" th:inline="text">Asignar Privilegios al Rol: [[${role.stDescripcion}]]</h4>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a th:href="@{/}" th:inline="text">[[#{label.home}]]</a></li>
                            <li class="breadcrumb-item" aria-current="page"> <a th:href="@{/role}">Cat&aacute;logo de Roles</a></li>
                            <li class="breadcrumb-item active" aria-current="page" th:inline="text">Asignar Privilegios al Rol: [[${role.stDescripcion}]]</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>

<section layout:fragment="content" th:remove="tag">

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Listado de Privilegios</h4>
                    <span id="alertMessage"  class="d-none"></span>
                    <div class="table-responsive">
                        <table id="tblPrivilege" class="table table-hover table-bordered" width="100%">
                            <thead>
                                <tr>
                                    <th>Acciones</th>
                                    <th>Descripci&oacute;n</th>
                                </tr>
                            </thead>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>

</section>

<section layout:fragment="js" th:remove="tag">
    <script th:inline="javascript">
        const dataTablesLangUrl = /*[[@{#{datatables.lang}}]]*/'/assets/extra-libs/datatables.net/English.json';
        const skRol = /*[[${role.skRol}]]*/-1;
        const stDescripcionRol = /*[[${role.stDescripcion}]]*/"";
        const urlListadoPrivilegios = /*[[@{/ccRol/privilege/list}]]*/"";
        const urlAgregarPrivilegio = /*[[@{/ccRol/privilege/add}]]*/"";
        const urlRemoverPrivilegio = /*[[@{/ccRol/privilege/remove}]]*/"";
    </script>

    <script>
        var groupColumn = 2;
        var tabla = $('#tblPrivilege').DataTable({
            ajax:{
                url: urlListadoPrivilegios,
                type: 'get',
                data: {"skRol": skRol}
            },
            serverSide: true,
            orderCellsTop: true,
            fixedHeader: true,
            columns: [
                {
                    data: 'skPrivilege',
                    searchable: false,
                    orderable: false,
                    width: "10%",
                    render: function ( data, type, row, meta ) {
                        return actionLinks(data, type,row,meta);
                    }
                },
                {
                    data: 'nombrePrivilegio',
                    searchable: true,
                    orderable: false
                },
                {
                    data: 'skPrivilegePadre',
                    visible:false
                },
                {
                    data: 'nombrePrivilegioPadre',
                    visible:false
                }
            ],/*
            order:[
                [
                    groupColumn,'asc'
                ]
            ],*/
            drawCallback: function ( settings ) {
                var api = this.api();
                var rows = api.rows( {page:'current'} ).nodes();
                var last=null;

                api.column(groupColumn, {page:'current'} ).data().each( function ( group, i ) {
                    if ( last !== group ) {
                        let rowData = api.row(i).data();
                        let button = '<button title="Asignar Todos" class="btn btn-primary " onclick="addPrivilege('+ i +', true)"><i class="fas fa-share-square" ></i></button>';

                            button = button + '&nbsp;<button title="Revocar Todos" class="btn btn-danger " onclick="removePrivilege('+ i +', true)"><i class="fas fa-trash" ></i></button>';

                        $(rows).eq( i ).before(
                            '<tr class="bg-light"><td colspan="2">' +
                            button +
                            '&nbsp;&nbsp;' +
                            '<b>'+rowData.nombrePrivilegioPadre+'</b>'+
                            '</td></tr>'
                        );

                        last = group;
                    }
                } );
            }
        });
        
        crearFiltrosDataTable('#tblPrivilege', tabla);

        function actionLinks(data, type, row, meta){
            const permisoAsignarPrivilegios = true;
            
            let html = '<div class="row">';

            if(permisoAsignarPrivilegios && row.asignado){
                html = html + '<div class="col-md-6"><button type="button" title="Revocar" onclick="removePrivilege(' + meta.row + ')" class="btn btn-danger"><i class="fas fa-trash" ></i></button></div>';
            }
            if(permisoAsignarPrivilegios && !row.asignado){
                html = html + '<div class="col-md-6"><button type="button" title="Asignar" onclick="addPrivilege(' + meta.row + ')" class="btn btn-primary"><i class="fa fas fa-share-square" ></i></button></div>';
            }
            html = html + '</div>';
            return html;
        }

        function removePrivilege(rowIdPriv, isGroup = false){
            let dataPriv = tabla.row( rowIdPriv ).data();
            let skPrivilege = dataPriv.skPrivilege;
            let description = dataPriv.nombrePrivilegio;
            let message = '¿Desea revocar el privilegio: ';
            if(isGroup){
                skPrivilege = dataPriv.skPrivilegePadre;
                description = dataPriv.nombrePrivilegioPadre;
                message = '¿Desea revocar todos los privilegios: ';
            }
            $("#alertMessage").html(message + "'" + description + "' al Rol: " + stDescripcionRol  +"?");
            Swal.fire({
                title: '¿Está seguro?',
                text:  $("#alertMessage").html(),
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Si',
                cancelButtonText: 'No'
            }).then(function(e) {
                if (e.value === true) {
                    ajaxRemovePrivilege(skPrivilege);
                }
            });
        }

        function addPrivilege(rowIdPriv, isGroup = false){
            let dataPriv = tabla.row( rowIdPriv ).data();
            let skPrivilege = dataPriv.skPrivilege;
            let description = dataPriv.nombrePrivilegio;
            let message = '¿Desea asignar el privilegio: ';
            if(isGroup){
                skPrivilege = dataPriv.skPrivilegePadre;
                description = dataPriv.nombrePrivilegioPadre;
                message = '¿Desea asignar todos los privilegios: ';
            }
            $("#alertMessage").html(message + "'" + description + "' al Rol: " + stDescripcionRol  +"?");
            Swal.fire({
                title: '¿Está seguro?',
                text:  $("#alertMessage").html(),
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Si',
                cancelButtonText: 'No'
            }).then(function(e) {
                if (e.value === true) {
                    ajaxSavePrivilege(skPrivilege);
                }
            });
        }
        
        function ajaxSavePrivilege(skPrivilege){
            $.ajax({
                data: {
                    skRol: skRol
                    , skPrivilege: skPrivilege
                },
                url: urlAgregarPrivilegio,
                type: 'POST',
                success: function (result) {
                    if (result.success === true) {
                        Swal.fire({title: "¡Privilegio(s) Asignado(s)!",  type:'success'});
                        tabla.ajax.reload(null, false);
                    } else {
                        Swal.fire({title: "¡Error!", text: result.message, type:'error'});
                    }
                },
                error: function (x, e, thrownError) {
                    Swal.fire({title: "Error!", text: "Error interno del servidor.", type: 'error'});
                }
            });
        }

        function ajaxRemovePrivilege(skPrivilege){
            $.ajax({
                data: {
                    skRol: skRol
                    , skPrivilege: skPrivilege
                },
                url: urlRemoverPrivilegio,
                type: 'POST',
                success: function (result) {
                    if (result.success === true) {
                        Swal.fire({title: "¡Privilegio(s) Revocado(s)!",  type:'success'});
                        tabla.ajax.reload(null, false);
                    } else {
                        Swal.fire({title: "¡Error!", text: result.message, type:'error'});
                    }
                },
                error: function (x, e, thrownError) {
                    Swal.fire({title: "Error!", text: "Error interno del servidor.", type: 'error'});
                }
            });
        }


    </script>
</section>
</body>

</html>