<!--decorated page-->
<html lang="en" dir="ltr" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/basic-layout}">

<head>
    <title th:inline="text" th:text="#{label.list} + ' ' + 'Rol'"></title>

    <!-- Custom CSS from main page-->
</head>

<body>
<section layout:fragment="content" th:remove="tag">
<div class="container-fluid">
    <div class="header">
        <h1 class="header-title" th:inline="text" th:text="#{label.list} + ' ' + 'Rol'"></h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/index}" th:inline="text" th:text="#{label.home}"></a></li>
                <li class="breadcrumb-item active" aria-current="page" th:inline="text" th:text="#{label.list} + ' '  + 'Rol'"></li>
            </ol>
        </nav>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <th:block th:insert="~{fragments/service-response-painter}" th:remove="tag"/>
                    <div class="card-title col-lg-2">
                        <a class="btn btn waves-effect waves-light btn-block btn-info"
                           th:href="@{/ccRol/form}" th:inline="text">
                            <i class="fa fa-plus-circle pr-1"></i>[[#{action.new}]]
                        </a>
                    </div>
                    <div class="table-responsive">
                        <table id="tblCcRol" class="table table-hover table-bordered" width="100%">
                            <thead>
                            <tr>
                                <th>Acciones</th>
                                <th>skRol</th>
                                <th>Descripci&oacute;n</th>
                                <th>C&oacute;digo de rol</th>
                                <th>Estado</th>
                            </tr>
                            </thead>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</section>

<section layout:fragment="js" th:remove="tag">
    <!-- Required libraries -->

    <script th:inline="javascript">
        const urlCcRolDataTable = /*[[@{/ccRol/list}]]*/"";
        const urlGetCcRol = /*[[@{/ccRol/form}]]*/"";
        const urlDeleteCcRol = /*[[@{/ccRol/delete}]]*/"";
        const urlEstadoBinario = /*[[@{/comboEstado/cboFilterTrueFalse}]]*/"";
        const urlActivarRol = /*[[@{/ccRol/activar}]]*/"";
        const urlInactivarRol = /*[[@{/ccRol/inactivar}]]*/"";
        const urlMostrarPrivilegios = /*[[@{/ccRol/privilege}]]*/"";
        
//        const permisoCrearRol = /*[[${#authorization.expression('hasAuthority(''OP_CREATE_ROL'')')}]]*/"";
//        const permisoEditarRol = /*[[${#authorization.expression('hasAuthority(''OP_EDIT_ROL'')')}]]*/"";
//        const permisoBorrarRol = /*[[${#authorization.expression('hasAuthority(''OP_DELETE_ROL'')')}]]*/"";
//        const permisoActivarRol = /*[[${#authorization.expression('hasAuthority(''OP_ACTIVATE_ROL'')')}]]*/"";
//        const permisoAsignarPrivilegioARol = /*[[${#authorization.expression('hasAuthority(''OP_ASSIGN_PRIVILEGE_TO_ROL'')')}]]*/"";
        
        const permisoCrearRol = true;
        const permisoEditarRol = true;
        const permisoBorrarRol = true;
        const permisoActivarRol = true;
        const permisoAsignarPrivilegioARol = true;
    </script>
    <script>
        var table = $('table#tblCcRol').DataTable({
            ajax: urlCcRolDataTable,
            serverSide: true,
            orderCellsTop: true,
            fixedHeader: true,
            columns: [
                {
                    targets: -1,
                    data: null,
                    searchable: false,
                    orderable: false,
                    width: "10%",
                    render: function (data, type, row) {
                        var id = row.skRol;
                        var botones = '<div class="button-group" style="display: inline-flex;">';
                        if(permisoEditarRol) {
                            botones += '<button title="Editar" class="btn waves-effect waves-light btn-success" type="button" onClick="ajaxEdit(' + id + ')" id="btnEditar_' + id + '" > <i class="fa fa-pencil-alt"></i></button>';
                        }
                                    
                        if(row.bnEstado && permisoActivarRol) {
                            botones += '<button title="Inactivar registro" class="btn waves-effect waves-light btn-danger" type="button" onClick="ajaxInactivar(' + id + ')" id="btnInactivar_' + id + '" > <i class="fas fa-ban"></i> </button>';
                        }
                        else {
                            if(permisoBorrarRol) {
                                botones += '<button title="Eliminar" class="btn waves-effect waves-light btn-danger" type="button" onClick="ajaxDelete(' + id + ')" id="btnEliminar_' + id + '" > <i class="fa fa-trash"></i> </button>';
                            }
                            if(permisoActivarRol) {
                                botones += '<button title="Activar registro" class="btn waves-effect waves-light btn-info" type="button" onClick="ajaxActivar(' + id + ')" id="btnActivar_' + id + '" > <i class="fas fa-check"></i> </button>';
                            }
                        }
                        if(permisoAsignarPrivilegioARol) {
                            botones += '<button title="Ver privilegios" class="btn waves-effect waves-light btn-primary" type="button" onClick="mostrarPrivilegios(' + id + ')" id="btnMostrarPrivilegios_' + id + '" > <i class="fas fa-random"></i> </button>';
                        }
                        botones += '</div>';
                        return botones;
                    }
                }
                , {
                    data: 'skRol',
                    orderable: false
                    , visible: false
                    , searchable: false
                }
                , {
                    data: 'stDescripcion'
                    , orderable: false
                }
                , {
                    data: 'cdRol'
                    , orderable: false
                }
                , {
                    data: 'bnEstado'
                    , orderable: false
                    , filterType: "select2"
                    , filterUrl: urlEstadoBinario
                    , render: function(data, type, row) {
                        return row.estadoVisible;
                    }
                }
            ]
        });

        crearFiltrosDataTable("#tblCcRol", table);

        table.findById = function(id) {
            return this.data()
                .filter( function ( value, index ) {
                    return parseInt(id) === parseInt(value.skRol);
            })[0];
        };
        
        function mostrarPrivilegios(/*integer*/ skRol) {
            window.location = urlMostrarPrivilegios + "?skRol=" + skRol;
        }

        //Ajax Edit
        function ajaxEdit(id){
            document.location.href = urlGetCcRol + '?skRol=' + id;
        }

        //Ajax Delete
        function ajaxDelete(id){
            var skRol = id;
            Swal.fire({
                title: '¿Está seguro?',
                text: "Se eliminará el registro",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Si',
                cancelButtonText: 'No'
            }).then(function(e) {
                if (e.value === true) {
                    $.ajax({
                        data: {skRol : skRol} ,
                        url: urlDeleteCcRol,
                        type: 'POST',
                        success: function (result) {
                            if (result.success === true) {
                                Swal.fire({title: "¡Eliminado!", text: result.message, type:'success'});
                                $('#tblCcRol').DataTable().ajax.reload();
                            } else {
                                Swal.fire({title: "¡Error!", text: result.message, type:'error'});
                            }
                        },
                        error: function (x, e,  thrownError) {
                            Swal.fire({title: "¡Error!", text: "Error interno del servidor.", type:'error'});
                        }
                    });
                }
            });
        }
        
        function ajaxActivar(id) {
            Swal.fire({
                title: '¿Está seguro?',
                text: "¿Desea activar el rol?",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Si',
                cancelButtonText: 'No'
            }).then(function(e) {
                if (e.value === true) {
                    var data = new PeticionData({skRol: id}, urlActivarRol, "POST");
                    data.procesarPeticionAjax(function(result) {
                        Swal.fire({title: "¡Activado!", text: result.message, type:'success'});
                        table.ajax.reload();
                    });
                }
            });
        }
        
        function ajaxInactivar(id) {
            Swal.fire({
                title: '¿Está seguro?',
                text: "¿Desea inactivar el rol?",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Si',
                cancelButtonText: 'No'
            }).then(function(e) {
                if (e.value === true) {
                    var data = new PeticionData({skRol: id}, urlInactivarRol, "POST");
                    data.procesarPeticionAjax(function(result) {
                        Swal.fire({title: "¡Inactivado!", text: result.message, type:'success'});
                        table.ajax.reload();
                    });
                }
            });
        }
    </script>
</section>
</body>

</html>
